
.hero-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.date-info {
  width: 100%;
  height: 35px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.959);
  padding: 4px 10px;
  margin: 0px auto;
  text-align: center;
  color: #f9f9f9;
}

.date-info > p {
  right: 23vw;
  top: 5px;
}

.date-info::first-letter {
  color: #ff0000;
}

.hero-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-container > .movies-title {
  margin-top: 10px;
  font-size: 2rem;
  color: #f9f9f9;
}


@media (max-width: 576px) {
  .hero-container {
    overflow: hidden;
    overflow-y: scroll;
  }

  .date-info {
    font-size: 1.3rem;
  }

  .hero-container > .movies-title {
    margin-top: 5px;
    margin-bottom: 10vh;
  }
}

@media (max-width: 768px) {
  .hero-container {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
  }

  .date-info {
      font-size: 1.2rem;
  }

  .hero-container > .movies-title {
    margin-top: 5px;
    margin-bottom: 6vh;
  }
}

@media (min-width: 768px) {
  .hero-container {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
  }

  .date-info {
      font-size: 1.5rem;
  }
}
