img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-container {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.date-info {
  width: 100%;
  height: 35px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.959);
  padding: 4px 10px;
  margin: 0px auto;
  text-align: center;
  color: rgb(255, 255, 255);
}

.date-info > p {
  right: 23vw;
  top: 5px;
}

.date-info::first-letter {
  color: #ff0000;
}

@media (max-width: 576px) {
  .hero-container {
    overflow: hidden;
    overflow-y: scroll;
  }

  .date-info {
    font-size: 1.3rem;
  }
}
