.slides {
  position: relative;
  display: grid;
  > .slide {
    grid-area: 1 / -1;
  }

  > button {
    position: absolute;
    appearance: none;
    background: transparent;
    border: none;
    color: white;
    position: absolute;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    top: 30%;
    transition: opacity 0.3s;
    opacity: 0.7;
    z-index: 5;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &:first-child {
      top: 40px;
      left: -70%;
    }
    &:last-child {
      top: 40px;
      right: -70%;
    }
  }
}
