.slides {
  position: relative;
  bottom: 10px;
  border-radius: 5px;
  display: grid;
  > .slide {
    grid-area: 1 / -1;
  }

  > button {
    position: absolute;
    appearance: none;
    background: transparent;
    border: none;
    color: white;
    position: absolute;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    top: 30%;
    transition: opacity 0.3s;
    opacity: 0.8;
    z-index: 5;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &:first-child {
      top: -5vh;
      left: -30vw;
    }
    &:last-child {
      top: -5vh;
      right: -30vw;
    }
  }
}

@media (max-width: 576px) {
  .slides > button {
    font-size: 4rem;

    &:first-child {
      left: -20vw;
    }

    &:last-child {
      right: -20vw;
    }
  }
}
