.slide {
  text-decoration: none;
}

.slideContent {
  display: flex;
  flex-direction: column;
  height: 50vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
  transition: transform 0.5s ease-in-out;
  opacity: 0.8;
  color: #f9f9f9;

  > .img-container {
    margin-left: 10%;
    width: 30vw;
    height: 38vw;
    z-index: 999;

    > img {
      width: 100%;
      height: 100%;
    }
  }

  display: grid;
  align-content: center;

  transform-style: preserve-3d;
  transform: perspective(1000px) translateX(calc(100% * var(--offset)))
    rotateY(calc(-45deg * var(--dir)));
}

.slideContentInner {
  transform-style: preserve-3d;
  transform: translateZ(1.5rem);
  transition: opacity 0.4s linear;
  text-shadow: 0 1rem 2rem rgb(0, 105, 0);
  opacity: 0;

  .slideSubtitle,
  .slideTitle {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    margin: 0;
  }

  .slideSubtitle::before {
    content: "— ";
  }
}

.containerBg {
  height: 20px;
}

.slide[data-active] {
  pointer-events: auto;
  cursor: pointer;

  .slideContentInner {
    opacity: 0.9;
  }

  .slideContent {
    --x: calc(var(--px) - 0.5);
    opacity: 1;

    transform: perspective(1000px);

    &:hover {
      transition: none;
      transform: perspective(1000px) rotateY(calc(var(--x) * 25deg));
    }
  }
}

@media (max-width: 320px) {
  .slideContent {
    > .img-container {
      margin-left: 0 !important;
      width: 40vw;
      height: 45vw;
      z-index: 999;
    }

    .slideSubtitle,
    .slideTitle {
      font-size: 0.7rem !important;
      letter-spacing: 0ch;
    }
  }
}

@media (max-width: 576px) {
  .slideContent {
    > .img-container {
      margin-left: 0 !important;
      width: 40vw;
      height: 45vw;
    }
  }

  .slideContent {
    .slideSubtitle,
    .slideTitle {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 768px) {
  .slideContent {
    width: 40vw;
  }
}
@media (min-width: 768px) {
  .slideContent {
    width: 40vw;
  }

  .slideContent {
    .slideSubtitle,
    .slideTitle {
      font-size: 1.2rem;
    }
  }
}
